/node_modules

# Build output
/out
*.vsix

# VS Code settings s
/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Test results
/coverage
/.nyc_output

# Misc
.DS_Store
*.pem
*.log

vitest.config.js
vitest.config.js.map