.vscode/**
.vscode-test/**
src/**
node_modules/**
out/**/*.map
*.vsix

# Git files
.git/**
.gitignore
.gitattributes

# Config files
tsconfig.json
.eslintrc.json

# Logs
*.log

# Other specific files (if any)
# Example: temp_files/**
# Example: *.tmp 